<ion-header>
  <ion-toolbar>
    <ion-title>Chapter Two</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentContainer">
    <h1>Chapter Two</h1>
    <hr>
    <h3>Another Chapter</h3>
    <img src="http://lorempixel.com/400/200" />
  </div>
  <h2 class="pgNum">PG 4</h2>
  <div class="backForwardContainer">
    <div>
      <ion-button href="/toc">TOC</ion-button>
      <ion-button href="/page-three">PG 3</ion-button>
    </div>
    <ion-button href="/page-five">PG 5</ion-button>
  </div>
</ion-content>